.Head
{
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-between; */
}
.NavBar{
    display: flex;
    border-radius: 30px;
    /* position: fixed; */
    /* top:4px; */
    z-index:100;
    position:relative;
    left:350px;
    
    
}

.NavBar ul{
    overflow: auto;
    
}
.NavBar li{
    /* display: inline-block; */
    float:left;
    flex-direction: row;
    list-style: none; 
    margin: 13px 20px;
    font-size: 18px;
  
}
.NavBar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.NavBar li a:hover{
    color:blueviolet;
}
.left a h2
{
    text-decoration: none;
}
.left a h2:hover
{
    color: blueviolet;
}


body
{
   
    background-color:#24252A;
   
}

.Container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 20px;

}

.FootNav
{
    
    
    
    /* border: 2px solid black; */
    width:300px;
    height:300px;
}
#list-1
{
    color: white;
    list-style: none;
    /* flex-basis: 462px; */
    text-align: center;
    align-self: center;
    font-family: 'Ubuntu', sans-serif;

}
#list-2
{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    color: white;
    list-style: none;
    /* flex-basis: 462px; */
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
#list-2 a
{
    
    
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
#list-2 a:hover
{
    color:#24252A
}
#list-3
{
    color: white;
    list-style: none;
    /* flex-basis: 562px; */
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
#list-3 h4
{
    color:#24252A;
}

.Services
{
    display:flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
    
}
.Services2
{
    display:flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
    
}
.Items
{
    border: 2px solid blueviolet;
    color:white;
     width: 350px;
     height: 200px;
     font-family: 'Ubuntu', sans-serif;
     text-align: center;
     border-radius: 25px;
}
h2
{
    color:white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
#Mohib
{
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
}
#Background
{
    width: 100%;
}

.Ad
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.Para
{
    /* border: 2px solid blueviolet; */
    width: 30%;
    height: 300px;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
   
}
.Para ul
{
    overflow: auto;
}
.Para li{
    color:white;
    font-family: 'Ubuntu', sans-serif;
}
#WhyUs
{
    flex-basis: 400px;
    align-self: center;
}
#Form
{
    border: 2px solid blueviolet;
    border-radius: 80px;
    
}
#Form input
{
    text-align: center;
    font-size: 24px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    background-color:black;
    color: white;
}

#Form button
{
    font-size: large;
    border: 2px solid blueviolet;
    border-radius: 10px;
    padding: 6px;
    width: 150px;
    background-color: black;
}
#Form button a
{
    text-decoration: none;
    color: white;
}

#Form button a:hover
{
    color: blueviolet;
    
}
#WhyUs li
{
    text-align:start;
}
#xD
{
    width: 100%;
}

.PortfolioContainer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
   
}
.PC img
{
    width: 100%;
}
.PC a:hover
{
      background-color: blueviolet;
}
.PC
{
    color:white;
    font-family: 'Ubuntu', sans-serif;
    width: 30%;
}
#BannerImg
{
    width: 100%;
}
/* For Mobile OR Iphone */
@media (min-width:360px) and (max-width:1024px)
{

.ImgLink img
{
    width: 375px;
}
#Form
{
    width: 300px;
    align-self: center;
    box-sizing: border-box;

}
#Form input
{
    width: 15rem;
}
.Services
{
    width: 300px;
    justify-content: center;
}
.Services2
{
    width: 300px;
    justify-content: center;
}
#BannerImg
{
    width: 375px;
}
.center{
    
    position:relative;
    right: 350px;
    width: 100%;

}
.left
{
   position: relative;
   left:90px
}
.NavBar ul
{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 2rem;
    overflow:hidden;
}
.NavBar li a
{
    font-size:  12px;
}
.Services
{
    position: relative;
    left: 40px;
}
.Services2
{
    position: relative;
    left: 40px;
}
.Container
{
    justify-content: center;
}

.PC
{
    width: 20rem;
}
.PC p
{
    text-align: center;
}
.PC h3
{
    text-align: center;
}
}




@media (min-width:768px) and (max-width:1024px)
{
    #BannerImg
{
    width: 100%;
}
.ImgLink img
{
    width: 100%;
}
.Services
{
    position: relative;
    left: 230px;
}
.Services2
{
    position: relative;
    left: 230px;
}
.Container
{
    justify-content: center;
}
.NavBar li a
{
    font-size: 15px;
    align-self: center;
}
.left
{
    position: relative;
    left:300px
}
.NavBar
{
    justify-content: center;
}
    #form
    {
            box-sizing: border-box;
        

    }
}
